.ql-mention-list-container {
  width: 530px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: red;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9001;
  overflow: auto;
}

.user-container {
  display: flex;
  padding: 5px;
}

.user-avatar {
  background-color: #f7f8fb;
  font-weight: bold;
  border-radius: 50px;
  padding: 0px;
  text-align: center;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

.user-fullname {
  margin-left: 10px;
}

.hashtag-container {
  display: flex;
  padding: 5px;
}

.ql-mention-loading {
  padding-left: 5px;
  padding-top: 2px;
  text-align: left;
  font-size: 16px;
}

.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ql-mention-list-item {
  cursor: pointer;
  line-height: 44px;
  font-size: 16px;
  padding: 0 20px;
  vertical-align: middle;
}

.ql-mention-list-item span {
  align-items: center;
}

.ql-mention-list-item.disabled {
  cursor: auto;
}

.ql-mention-list-item.selected {
  background-color: #d3e1eb;
  text-decoration: none;
}

.ql-mention-denotation-char {
  vertical-align: 0.1rem;
}

.mention {
  user-select: all;
  color: #10b981;
  font-weight: 500;
}

.hashtag {
  color: #10b981;
  font-weight: 500;
}

.hashtag:hover {
  color: #059669;
  text-decoration: underline;
  cursor: pointer;
}
