.node-button-g {
  transform: translate(32px, 100px) !important;
}
.node-button-rect {
  display: none;
}
.node-button-foreign-object {
  width: 224px !important;
}
rect.node-rect[stroke-width='10'] {
  stroke: #3f83f8;
}
path.link[stroke-width='5'] {
  stroke: #3f83f8;
}
