@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}
/* This will change the style of placeholder to our product*/
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #737373;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
/* Content styles*/
.quill > .ql-container {
  color: #171717;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

/* Custom toolbar style globall applied */
#toolbar {
  border: none;
  padding: 0px 24px 0px 28px;
  font-family: initial !important;
  background-color: white;
}

/* Remove snow theme border - pending*/
